body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: #e6eef7;
}

hr{
	border-color: #11a8ad;
	border-width: 2px;
	max-width: 70px;
}

.buffer{
	height: 30px;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-xl{
	padding: 1rem 2rem;
}

.btn-primary{
	background-color: #11a8ad;
	border-color: #11a8ad;
}

.btn-primary:hover{
	background-color: #64c0c3;
	border-color: #64c0c3;
	border-width: 3px;
}